<mat-dialog-content class="mat-typography">
	<ul class="list-inline">
		<li class="list-inline-item">
			<h3 mat-dialog-title align="center" class="blackColor"><b>Share {{data.paperName}} page with your friends.</b></h3>
    </li>
    <div align="center">
		<li class="list-inline-item">
			<a [routerLink]=""(click)="openFacebook()" >
				<img border="0" id="fixed-width-flamingo" class="dialog" alt="Share page url on Facebook" src="/assets/images/facebook60.png" />
			</a>
		</li>
		<li class="list-inline-item">
			<a [routerLink]=""(click)="openWhatsApp()">
				<img border="0" id="fixed-width-flamingo" class="dialog" alt="Share page url on WhatsApp" src="/assets/images/whatsapp60.png" />
			</a>
		</li>
		<li class="list-inline-item">
			<a [routerLink]=""(click)="openMail()">
				<img border="0" id="fixed-width-flamingo" class="dialog" alt="Share page url on Gmail" src="/assets/images/gmail60.png" />
			</a>
		</li>
		<li class="list-inline-item">
			<a [routerLink]=""(click)="openMessenger()">
				<img border="0" id="fixed-width-flamingo" class="dialog" alt="Share page url on messenger" src="/assets/images/mess60.png" />
			</a>
    </li>
  </div>
	</ul>
</mat-dialog-content>
<h2 mat-dialog-title align="center">---- OR ----</h2>
<mat-dialog-content class="mat-typography">
    <h4 mat-dialog-title align="center" class="secondaryColor"><b>Manage your study material in a easy way</b></h4>
  <p align="justify">Now you can bookmark and download unlimited papers, notes, books and assignment for free.</p>
  <p> Download FinalRevise mobile App from Google Play store.</p>
</mat-dialog-content>
<p class="primaryColor">Timer for 15 seconds : {{tick}}</p>
<mat-dialog-actions align="end">
  <button [hidden]="!isValid" (click)="isValid && openDialog()" mat-button>Cancel</button>
  <!-- <button (click)="openShare()" mat-button>Share</button> -->
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial onclick="window.location.href='https://play.google.com/store/apps/details?id=com.finalrevise.android'"
    target="_blank">Install</button>
</mat-dialog-actions>


<!-- Copyright 2019 Google Inc. All Rights Reserved.
    Use of this source code is governed by an MIT-style license that
    can be found in the LICENSE file at http://angular.io/license -->