<div id="loader" class="loader" *ngIf="!pageData.data"></div>
<div class="parallax">
    <div class="textAlignCenter">
      <div *ngFor="let el of pageData.data" class="card">
        <div class="hover01 column">
        <a [routerLink]=""(click)="openNextPage(el.tag)"
          class="h5-text-style">
          <figure><img src="{{el.entityImage}}" alt="Card image"></figure>
          <div class="descri"><b>{{el.entityName}}</b></div>
        </a>
      </div>
    </div>
    </div>
</div>