<div class="main-content">
	<div class="jumbotron">
		<h3>Who we are</h3>
		<p>
			FinalRevise is the website made to help the students while preparing for their exams. It's having variety of
			sections, covering
			almost all type of exams.
		</p>
		<p>
			We are constantly adding new papers on our platform. Still if you don't find any paper which you need, email
			us :
			<a class="margin-left-2" href="mailto:admin@finalrevise.com">admin@finalrevise.com</a>
		</p>
		<p>
			We are always happy to help you. Stay connected. Happy to hear your suggestions.
		</p>
		<br>
		<h3>Disclaimer</h3>
		<br>
		<h4>Use of information</h4>
		<p>The materials and information provided on this website are for reference purposes only. For official
			information please
			refere to the official website or contact the organization.</p>
		<br>
		<h4>No warrants as to accuracy</h4>
		<p>Information may, as a result of the passage of time, change due to law, human error and/or system failure and
			become no
			longer accurate. While we strive for accuracy, FinalRevise makes no warranty as to the accuracy of any
			information contained
			in and/or on this website.</p>
		<p>Any link found anywhere in and / or on this website could be inaccurate or misdirected and FinalRevise will
			not be liable
			for any use of these informatio or links in any manner whatsoever and this entire disclaimer applies to
			those information
			&#038; links.</p>
		<br>
		<h4>Make no action or ommission</h4>
		<p>Anyone using this website should not take any action and/or omit to take any action based in whole or in part
			on information
			found on this website without first seeking the advice of the actual orgainzation other appropriate advisor.
		</p>
		<br>
		<h4>No transmittal of confidential information</h4>
		<p>This website shall not be used to transmit confidential information, personal information or information
			subject to individual
			privilege.
		</p>
		<br>
		<h4>Disclaimer of and limit of liability</h4>
		<p>FinalRevise does not accept any liability whatsoever for use of this website. Any use of this website is at
			your own risk.
			Information contained in and/or on this website is provided on an “as is” and “as available” basis.
			FinalRevise makes no
			representations, warranties or conditions of any kind, whether express or implied and including without
			limiting the generality
			of the foregoing: express or implied representations, warranties or conditions of title, non-infringement,
			merchantability,
			fitness for particular purpose, performance, durability, availability, timeliness, accuracy or completeness
			all of which
			are hereby disclaimed to the fullest extent permitted by law. FinalRevise will not be liable to you or any
			other person
			in relation to loss of any kind or damages of any kind arising from, in connection with, or in relation to
			the use of this
			website by you or any other person.</p>
	</div>
</div>