<div id="loader" class="loader" *ngIf="!pageData.data"></div>
<div class="padding-left-5">
	<div class="main-content">
		<div class="row">
			<ol *ngFor="let headerNav of nav; let i = index" [attr.data-index]="i">
				<li class="row">
					<a [routerLink]=""(click)="openPageFromNav(navIds[i], i)"
						title="{{headerNav}} Study Material"><b>{{headerNav}}</b></a>
					<div *ngIf="i!=navCount-1" class="aColor">&nbsp;&nbsp;&gt;</div>
				</li>
			</ol>
		</div>
		<hr>
		<div *ngIf="!tags" class="margin-left-right-5">
			<table class="table1" *ngIf="groupUrl">
				<tr>
					<td class="width-75">
						<h1 class="titleStyle"
							title="{{titleText}}">
							<b>{{pageTitle}}</b></h1>
					</td>
					<td class="blink">
						<a href="{{groupUrl}}" target="_blank">
							<img alt="Join FinalRevise WhatsApp group" src="/assets/images/whatsapp_join.png">
						</a>
					</td>
				</tr>
			</table>
			<table *ngIf="!groupUrl">
				<tr>
					<td>
						<h1 class="titleStyle"
							title="{{titleText}}">
							<b>{{pageTitle}}</b></h1>
					</td>
				</tr>
			</table>
			<h1 *ngIf="dujat" class="dujat-mock" title="Mock Test Paper DUJAT">
				<a class="blueColor" href="https://forms.gle/LqxtE6LjA1iupdUG6" target="_blank"><b><u>2 Mock Test of
						DUJAT 2021 in Rs 30 for BMS, BBE and BBA (Click here)</u></b></a></h1>
			<div class="jumbotron">
				<div [innerHtml]="aboutExamContent"> </div>
				<hr class="my-4">
				<div *ngFor="let el of linkedPageItems">
					<a [routerLink]=""(click)="openNextPage(el.pageDocLink, el.pageItemName)">
						<p>{{el.pageItemName}}</p>
					</a>
				</div>
			</div>
			<div class="navbar bg-primary">
				<ul class="list-inline">
					<li class="list-inline-item">
						<b>
							<font size="3" color="white">Share {{pageTitle}} page with your friends :
							</font>
						</b>
					</li>
					<li class="list-inline-item">
						<a [routerLink]=""(click)="openFacebook()">
							<img border="0" id="fixed-width-flamingo" alt="Share page url on Facebook" src="/assets/images/facebook60.png" />
						</a>
					</li>
					<li class="list-inline-item">
						<a [routerLink]=""(click)="openWhatsApp()">
							<img border="0" id="fixed-width-flamingo" alt="Share page url on WhatsApp" src="/assets/images/whatsapp60.png" />
						</a>
					</li>
					<li class="list-inline-item">
						<a [routerLink]=""(click)="openMail()">
							<img border="0" id="fixed-width-flamingo" alt="Share page url on Gmail" src="/assets/images/gmail60.png" />
						</a>
					</li>
					<li class="list-inline-item">
						<a [routerLink]=""(click)="openMessenger()">
							<img border="0" id="fixed-width-flamingo" alt="Share page url on messenger" src="/assets/images/mess60.png" />
						</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="row" class="margin-top-0" *ngIf="tags">
			<table class="table1" *ngIf="groupUrl">
				<tr>
					<td class="width-75">
						<h1 class="titleStyle"
							title="{{titleText}}">
							<b>{{pageTitle}}</b></h1>
					</td>
					<td class="blink">
						<a href="{{groupUrl}}" target="_blank">
							<img class="center" alt="Join FinalRevise WhatsApp group" src="/assets/images/whatsapp_join.png">
						</a>
					</td>
				</tr>
			</table>
			<table *ngIf="!groupUrl">
				<tr>
					<td>
						<h1 class="titleStyle"
							title="{{titleText}}">
							<b>{{pageTitle}}</b></h1>
					</td>
				</tr>
			</table>
			<h1 *ngIf="dujat" class="dujat-mock" title="Mock Test Paper DUJAT">
		&nbsp;&nbsp;
				<a class="blueColor" href="https://forms.gle/LqxtE6LjA1iupdUG6" target="_blank"><b><u>2 Mock Test of
						DUJAT 2021 in Rs 30 for BMS, BBE and BBA (Click here)</u></b></a></h1>
			<div class="col-sm-8">
				<div class="jumbotron aboutExam">
					<div [innerHtml]="aboutExamContent"> </div>
					<hr class="my-4">
					<div *ngFor="let el of linkedPageItems">
						<a [routerLink]=""(click)="openNextPage(el.pageDocLink, el.pageItemName)">
							<p>{{el.pageItemName}}</p>
						</a>
					</div>
				</div>
				<div class="navbar bg-primary">
					<ul class="list-inline">
						<li class="list-inline-item">
							<b>
								<font size="3" color="white">Share {{pageTitle}} page with your friends :
								</font>
							</b>
						</li>
						<li class="list-inline-item">
							<a [routerLink]=""(click)="openFacebook()">
								<img border="0" id="fixed-width-flamingo" alt="Share page url on Facebook" src="/assets/images/facebook60.png" />
							</a>
						</li>
						<li class="list-inline-item">
							<a [routerLink]=""(click)="openWhatsApp()">
								<img border="0" id="fixed-width-flamingo" alt="Share page url on WhatsApp" src="/assets/images/whatsapp60.png" />
							</a>
						</li>
						<li class="list-inline-item">
							<a [routerLink]=""(click)="openMail()">
								<img border="0" id="fixed-width-flamingo" alt="Share page url on Gmail" src="/assets/images/gmail60.png" />
							</a>
						</li>
						<li class="list-inline-item">
							<a [routerLink]=""(click)="openMessenger()">
								<img border="0" id="fixed-width-flamingo" alt="Share page url on messenger" src="/assets/images/mess60.png" />
							</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="jumbotron">
					<h5 class="relatedLinks-text"><b>Related links</b></h5>
					<hr class="my-3">
					<table>
						<tr *ngFor="let el of tags">
							<a [routerLink]=""(click)="openTag(el)">
								<td>
									<img alt="{{el.relatedLinksHeading}}"  src="{{el.relatedLinksImgUrl}}" />
								</td>
								<td class="related" valign="top">
									<b>
										{{el.relatedLinksHeading}}
									</b>
									<br>
									<br>
									{{el.relatedLinksSmallDesc}}
								</td>
								<hr class="my-3">
							</a>
						</tr>
					</table>
				</div>
			</div>
		</div>


		<div class="sbuttons">
			<div *ngIf="isClickedShare">
				<a [routerLink]=""(click)="openWhatsApp()" class="sbutton whatsapp" tooltip="WhatsApp"><i
						class="fab fa-whatsapp"></i></a>

				<a [routerLink]=""(click)="openFacebook()" class="sbutton fb" tooltip="Facebook"><i
						class="fab fa-facebook-f"></i></a>

				<a [routerLink]=""(click)="openMail()" class="sbutton gplus" tooltip="Mail"><i
						class="fab fa-google-plus-g"></i></a>

				<a [routerLink]=""(click)="openMessenger()" class="sbutton twitt" tooltip="Fb messenger"><i
						class="fab fa-twitter"></i></a>
			</div>
			<a [routerLink]=""(click)="shareClicked()" class="sbutton mainsbutton"
				tooltip="Share this page with your friends"><i class="fas fa-share-alt"></i></a>
		</div>
	</div>
</div>