<!--The content below is only a placeholder and can be replaced.-->
<div class="parallax">
	<div class="main-content">
		<div class="container">
			<div class="h1tag">
				<h1>
					<b>Question Papers & Study Material</b>
				</h1>
			</div>
			<form [formGroup]="signupfrm" (ngSubmit)="getSearchResult()">
				<div class="search">
					<input name="name" formControlName="name" class="form-control mr-sm-2" type="text"
						placeholder="Search any study material">
				</div>
			</form>
			<table cellpadding="10">
				<tr>
					<td>
						<a [routerLink]=""(click)="openNextPage('school-boards')">
							<mat-card>
								<img alt="school books, previous year paper with notes and syllabus"
									src="/assets/pngs/pic/school.png">
								<mat-card-content>
									<h2 class="h5-style">
										<b>School Boards</b>
									</h2>
								</mat-card-content>
							</mat-card>
						</a>
					</td>
					<td>
						<a [routerLink]=""(click)="openNextPage('all-competitive-exams')">
							<mat-card>
								<img alt="entrance exam papers with free study materials and notes"
									src="/assets/pngs/pic/entrance.png">
								<mat-card-content>
									<h2 class="h5-style">
										<b>Entrance Exams</b>
									</h2>
								</mat-card-content>
							</mat-card>
						</a>
					</td>
					<td>
						<a [routerLink]=""(click)="openNextPage('university')">
							<mat-card>
								<img alt="semester papers, notes books and assignments" src="/assets/pngs/pic/univ.png">
								<mat-card-content>
									<h2 class="h5-style">
										<b>University</b>
									</h2>
								</mat-card-content>
							</mat-card>
						</a>
					</td>
				</tr>
				<tr>
					<td>
						<a [routerLink]=""(click)="openNextPage('placement-papers')">
							<mat-card>
								<img alt="placement paper, all question and answer"
									src="/assets/pngs/pic/placement.png">
								<mat-card-content>
									<h2 class="h5-style">
										<b>Placement Papers</b>
									</h2>
								</mat-card-content>
							</mat-card>
						</a>
					</td>
					<td>
						<a [routerLink]=""(click)="openNextPage('government-jobs')">
							<mat-card>
								<img alt="government job paper question answer, books and notes"
									src="/assets/pngs/pic/govt.png">

								<mat-card-content>
									<h2 class="h5-style">
										<b>Government Jobs</b>
									</h2>
								</mat-card-content>
							</mat-card>
						</a>
					</td>
					<td>
						<a [routerLink]=""(click)="openNextPage('international-competition')">
							<mat-card>
								<img alt="international exams previous year papers, question answer and study notes"
									src="/assets/pngs/pic/international.png">
								<mat-card-content>
									<h2 class="h5-style">
										<b>International Competition</b>
									</h2>
								</mat-card-content>
							</mat-card>
						</a>
					</td>
				</tr>
			</table>
			<div id="carousel" class="carousel slide" data-ride="carousel" class="margin-40">
				<div class="container">
					<div class="jumbotron p-3">
						<div class="carousel-inner">
							<div class="carousel-item active">
								<div class="d-none d-lg-block">
									<div class="media">
										<div class="media-body my-auto">
											<h5><b class="primaryColor">FinalRevise</b> helps
												students
												students in preparation of their exams. Multiple sections include
												Semester Exam question & answer /Entrance Exam paper & answer key /
												School Board Exam / Government Job Exam papers /Placement Papers /GRE
												/GMAT and all competitive exam paper & solutions.</h5>
										</div>
									</div>
								</div>
								<div class="d-lg-none d-xl-none">
									<div class="card bg-transparent border-0">
										<div class="card-body">
											<h5><b class="primaryColor">FinalRevise</b> helps
												students
												students in preparation of their exams. Multiple sections include
												Semester Exam question & answer /Entrance Exam paper & answer key /
												School Board Exam / Government Job Exam papers /Placement Papers /GRE
												/GMAT and all competitive exam paper & solutions.</h5>
										</div>
									</div>
								</div>
							</div>
							<div class="carousel-item">
								<div class="d-none d-lg-block">
									<div class="media">
										<div class="media-body my-auto">
											<h5>The largest collection of papers, notes, free e-books, question & answer
												available in pdf. <b class="primaryColor">10M+ downloads of study
													material. </b>Appreciated by more than 1M+ users.Updating new
												features and material daily on student's demands.</h5>
										</div>
									</div>
								</div>
								<div class="d-lg-none d-xl-none">
									<div class="card bg-transparent border-0">
										<div class="card-body">
											<h5>The largest collection of papers, notes, free e-books, question & answer
												available in pdf. <b class="primaryColor">10M+ downloads of study
													material. </b>Appreciated by more than 1M+ users. Updating new
												features and material daily on student's demands.</h5>
										</div>
									</div>
								</div>
							</div>
							<div class="carousel-item">
								<div class="d-none d-lg-block">
									<div class="media">
										<div class="media-body my-auto">
											<h5>We are also providing a wide range of services and facilities for
												students like <b class="primaryColor">Advertise with FinalRevise, much
													Affordable Tour & Traveling packages, Best Hostels & PGs, Event
													Management and Personalised printing on T-shirts, mugs etc.. </b>
												For more check the ‘other services’ section.</h5>
										</div>
									</div>
								</div>
								<div class="d-lg-none d-xl-none">
									<div class="card bg-transparent border-0">
										<div class="card-body">
											<h5>We are also providing a wide range of services and facilities for
												students like <b class="primaryColor">Advertise with FinalRevise, much
													Affordable Tour & Traveling packages, Best Hostels & PGs, Event
													Management and Personalised printing on T-shirts, mugs etc.. </b>
												For more check the ‘other services’ section.</h5>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row webkit-center-center">
			<div class="col-lg-2">
				<a [routerLink]=""(click)="openNextPage('Past Papers')" class="h5-text-style">
					<img alt="past papers of government job exams, universities and placement paeras"
						src="/assets/images/previous.png">
					<h3 class="h5-style">
						<b>Past Papers</b>
					</h3>
				</a>
			</div>
			<div class="col-lg-2">
				<a [routerLink]=""(click)="openNextPage('Free Books')" class="h5-text-style">
					<img alt="ebooks of all schools boards and competitive exams with notes"
						src="/assets/images/books.png">
					<h3 class="h5-style">
						<b>E-Books</b>
					</h3>
				</a>
			</div>
			<div class="col-lg-2">
				<a [routerLink]=""(click)="openNextPage('Notes')" class="h5-text-style">
					<img alt="notes for school boards, government jobs and universities" src="/assets/images/notes.png">
					<h3 class="h5-style">
						<b>Notes</b>
					</h3>
				</a>
			</div>
			<div class="col-lg-2">
				<a [routerLink]=""(click)="openNextPage('Assignments')" class="h5-text-style">
					<img alt="assignments for school boards and universities" src="/assets/images/assignment.png">
					<h3 class="h5-style">
						<b>Assignments</b>
					</h3>
				</a>
			</div>
			<div class="col-lg-2">
				<a [routerLink]=""(click)="openNextPage('Syllabus')">
					<img alt="syllabus of 10th & 12th class, universities and entrance exams"
						src="/assets/images/syllabus.png">
					<h3 class="h5-style">
						<b>Syllabus</b>
					</h3>
				</a>
			</div>
		</div>
	</div>

	<div class="carousel-text">
		<h4>
			<div class="hr-sect">
				<b>Testimonials</b>
			</div>
		</h4>
	</div>
	<div id="carousel" class="carousel slide" data-ride="carousel">
		<ol class="carousel-indicators">
			<li data-target="#carousel" data-slide-to="0"></li>
			<li data-target="#carousel" data-slide-to="1"></li>
			<li data-target="#carousel" data-slide-to="2"></li>
		</ol>
		<div class="container">
			<div class="jumbotron p-3">
				<div class="carousel-inner">
					<div class="carousel-item active">
						<div class="d-none d-lg-block">
							<div class="media"> <img alt="this is a testimonal" src="/assets/images/tpic1.jpeg"
									class="align-self-center mr-3 rounded-circle testimonial-size" alt="...">
								<div class="media-body my-auto">
									<h6 class="secondaryColor"><b><i>While preparing for NIFT entrance exam, I found
												this website which provide me all books related to Designs, previous
												year papers ,notes and study material which help me a lot. I recommend
												FinalRevise for all NID/NIFT/CEED aspirants for a complete preparation.
												<br>
												Keep the good work going “FinalRevise”.</i></b></h6>
									<h6 class="testimonial-text">
										Shivani Jain</h6>
								</div>
							</div>
						</div>
						<div class="d-lg-none d-xl-none">
							<div class="card bg-transparent border-0"> <img alt="this is a testimonal"
									src="/assets/images/tpic1.jpeg"
									class="card-img-top img-thumbnail rounded mx-auto testimonial-size" alt="...">
								<div class="card-body">
									<h6 class="secondaryColor"><b><i>While preparing for NIFT entrance exam, I found
												this website which provide me all books related to Designs, previous
												year papers ,notes and study material which help me a lot. I recommend
												FinalRevise for all NID/NIFT/CEED aspirants for a complete preparation.
												<br>
												Keep the good work going “FinalRevise”.</i></b></h6>
									<h6 class="testimonial-text">
										Shivani Jain</h6>
								</div>
							</div>
						</div>
					</div>
					<div class="carousel-item">
						<div class="d-none d-lg-block">
							<div class="media"> <img alt="this is a testimonal" src="/assets/images/tpic2.jpeg"
									class="align-self-center mr-3 rounded-circle testimonial-size" alt="...">
								<div class="media-body my-auto">
									<h6 class="secondaryColor"><b><i>At the time of exam, the best way of last minute
												study is previous year question papers and study notes. FinalRevise
												provides almost all type of question papers for free , you can download
												question paper and their solution.<br>
												This helped me a lot in exam time and save my time.</i></b></h6>
									<h6 class="testimonial-text">
										Prakhar Kumar</h6>
								</div>
							</div>
						</div>
						<div class="d-lg-none d-xl-none">
							<div class="card bg-transparent border-0"> <img alt="this is a testimonal"
									src="/assets/images/tpic2.jpeg"
									class="card-img-top img-thumbnail rounded mx-auto testimonial-size" alt="...">
								<div class="card-body">
									<h6 class="secondaryColor"><b><i>At the time of exam, the best way of last minute
												study is previous year question papers and study notes. FinalRevise
												provides almost all type of question papers for free , you can download
												question paper and their solution.<br>
												This helped me a lot in exam time and save my time.</i></b></h6>
									<h6 class="testimonial-text">
										Prakhar Kumar</h6>

								</div>
							</div>
						</div>
					</div>
					<div class="carousel-item">
						<div class="d-none d-lg-block">
							<div class="media"> <img alt="this is a testimonal" src="/assets/images/tpic3.jpeg"
									class="align-self-center mr-3 rounded-circle" alt="...">
								<div class="media-body my-auto">
									<h6 class="secondaryColor"><b><i>Finalrevise provided us best package with
												affordable rate for Chandrasheela track. It was a fantastic trip with my
												DU friends. They have arranged everything and it was a hassle free ride.
												<br>Thanks a lot FinalRevise.</i></b></h6>
									<h6 class="testimonial-text">
										Neeraj Agarwal</h6>
								</div>
							</div>
						</div>
						<div class="d-lg-none d-xl-none">
							<div class="card bg-transparent border-0"> <img alt="this is a testimonal"
									src="/assets/images/tpic3.jpeg"
									class="card-img-top img-thumbnail rounded mx-auto testimonial-size" alt="...">
								<div class="card-body">
									<h6 class="secondaryColor"><b><i>Finalrevise provided us best package with
												affordable rate for Chandrasheela track. It was a fantastic trip with my
												DU friends. They have arranged everything and it was a hassle free ride.
												<br>Thanks a lot
												FinalRevise.</i></b></h6>
									<h6 class="testimonial-text">
										Neeraj Agarwal</h6>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>