/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

  .jumbotron{
      padding:.2rem 1rem;
      text-align: center;
      box-shadow: 0px 5px 11px -2px rgba(0, 0, 0, 0.18), 0px 4px 12px -7px rgba(0, 0, 0, 0.15);
  }
  img{
    width: 100%;
    height: 75%;
  }

.hr-sect {
display: flex;
flex-basis: 100%;
align-items: center;
color: #8b0000;
margin: 8px 0px;
text-shadow: 2px 2px 4px  rgba(0, 0, 0, 0.18);
}
.hr-sect::before,
.hr-sect::after {
content: ";
flex-grow: 1;
background: rgba(133, 133, 133, 0.35);
text-shadow: 2px 2px 4px  #8b0000;
height: 1px;
font-size: 0px;
line-height: 0px;
margin: 0px 8px;
}
.col-lg-2
{
-webkit-box-flex:0;-ms-flex:0 0 20%;flex:0 0 20%;max-width:20%
}
.col-lg-3{
  position: relative;
  width: 33%;
  min-height: 1px;
   padding-right: 0;
  padding-left: 0;
}
.container{
  padding-bottom: 2%;
  padding-left: 0%;
  padding-right: 0%;
}
.my-auto{
  text-align: -webkit-center;
}
.carousel-indicators li {
background-color: #8b0000;
margin-bottom: 1%;
}
.h5-style{
  text-align:center; 
  margin-top: 10px;
  color: #8b0000;
  font-size: 140%;
  font-weight: 500;
  text-shadow: 2px 2px 4px  rgba(0, 0, 0, 0.18);
}
h1{
  font-size: 300%;
}
h5{
  color: #2c3e50;
}
.parallax {
  /* The image used */
  
  background-size: cover;

  /* Set a specific height */
  min-height: 80vh;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 6.8%;
  padding-left: 2%;
  padding-right: 2%;
  min-height: 80vh;
}
.mat-card-content{
  margin-top: 3%;
}
.mat-card{
  box-shadow: 3px 3px 3px #868686;
  padding-left: .10%;
  padding-right: .10%;
  padding-top: .10%;
  padding-bottom: 3%;
}
.h1tag{
  text-align:center; padding-top: 0%;color: #8b0000; text-shadow: 2px 2px 4px #868686;
}
.search{
  align-content:center;margin-left:5%; margin-top:3%; margin-right:5%; margin-bottom:4%;
					box-shadow: 0px 5px 11px -2px rgba(0, 0, 0, 0.18), 0px 4px 12px -7px rgba(0, 0, 0, 0.15);
}
.margin-40{
  margin-top: 40px; 
}
