section{
  margin: 5px 0px;
  background: linear-gradient(90deg, rgba(144,71,168,0.5), rgba(238,216,185,1));
  padding: 0 15%;
}

.descri {
  margin-top: -4px;
  padding: 2%;
  background-color: #ecf0f1;
  color: #8b0000;
  height: 35px;
  overflow-y: hidden;
  border-radius: 0px 0px 10px 10px;
  text-shadow: 2px 2px 4px  rgba(0, 0, 0, 0.18);
}
.tableHeader{
  margin-top: 75px;
  table-layout: fixed;
  width: 100%;
  border-collapse: unset;
}
.card{
  display: inline-block;
  text-align: center;
  margin-bottom: 3%;
  background-color: #ecf0f1;
  box-shadow: 0 0 4px rgba(0, 0, 0, .14), 0 4px 8px rgba(0, 0, 0, .28);
}
img{
  width: 100%; 
  height: 100%;
}
.nav-link {
  display: block;
  background: #8b0000;
  margin-top: 8%;
  margin-right: 2%;
}
.col-sm-8{
  margin-top: 5%;
}
.main-content {
  padding-top: 18%;
  min-height: 80vh;
  padding-left: 3%;
  padding-right: 3%;
  /* The image used */
  

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.loader {
  background: url('/assets/images/loading_small.gif') 50% 50% no-repeat rgb(249,249,249);
} 