section{
  margin: 5px 0px;
  background: linear-gradient(90deg, rgba(144,71,168,0.5), rgba(238,216,185,1));
  padding: 0 15%;
}

.descri {
  margin-top: -4px;
  padding: 2%;
  background-color: #ecf0f1;
  color: #8b0000;
  height: 50px;
  overflow-y: hidden;
  border-radius: 0px 0px 10px 10px;
  font-size: 120%;
  text-shadow: 2px 2px 4px  rgba(0, 0, 0, 0.18);
}
.tableHeader{
  margin-top: 75px;
  table-layout: fixed;
  width: 100%;
  border-collapse: unset;
}
.card{
  width: 45%;
  display: inline-block;
  text-align: center;
  margin-left: 1.1%;
  margin-right: 1.1%;
  margin-bottom: 2%;
  background-color: #ecf0f1;
  box-shadow: 0 0 4px rgba(0, 0, 0, .14), 0 4px 8px rgba(0, 0, 0, .28);
}
img{
  width: 100%; 
  height: 100%;
}
.nav-link {
  display: block;
  background: #8b0000;
  margin-top: 8%;
  margin-right: 2%;
}
.col-sm-8{
  margin-top: 5%;
}
.row{
  margin-top: 2%;
}
.parallax {
  /* The image used */
  

  /* Set a specific height */
  min-height: 80vh;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 7.5%;
  padding-left: 2%;
  padding-right: 2%;
  min-height: 80vh;
}



/* Zoom In #1 */
.hover01 figure img {
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.hover01 figure:hover img {
	-webkit-transform: scale(1.3);
	transform: scale(1.3);
}

.column::after {
	content: '';
	clear: both;
	display: block;
}

.column div:first-child {
	margin-left: 0;
}
.column div span {
	position: absolute;
	bottom: -20px;
	left: 0;
	z-index: -1;
	display: block;
	width: 300px;
	margin: 0;
	padding: 0;
	color: #444;
	font-size: 18px;
	text-decoration: none;
	text-align: center;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
	opacity: 0;
}
figure {
	margin: 0;
	padding: 0;
	background: #fff;
	overflow: hidden;
}
figure:hover+span {
	bottom: -36px;
	opacity: 1;
}