@import "~bootstrap/scss/bootstrap";
@import "~jquery.flipster/dist/jquery.flipster.min.css";
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import './assets/styles/constants';
@import url(http://fonts.googleapis.com/css?family=Oswald:400,300,700);

a {
  transition: color 0.3s;
  text-decoration: none !important;
  color: #008f72;
}

.nav-link {
  cursor: pointer;
}

img {
  max-width: 100%;
}
body {
  font-family: 'Alata', sans-serif !important;
}
.loader {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: url('/assets/images/loading.gif') 50% 50% no-repeat rgb(249,249,249);
  opacity: .6;
} 
h1, .h1 {
  font-size: 1.5rem;
}
h2, .h2 {
  font-size: 1.2rem;
}
h3, .h3 {
  font-size: 1.0rem;
}
.index{
  background-color: #e9e9ea;
}
.primaryColor{
  color: #8b0000;
}
.secondaryColor{
  color: #2c3e50
}
.webkit-center-center{
  text-align: -webkit-center;
}
.h5-text-style{
  text-decoration: none;color: inherit
}
.carousel-text{
  text-align:center;margin:40px;
}
.testimonial-size{
  width: 150px;height: 150px;
}
.padding-10{
  padding-right: 10%;
}
.size-50{
  width: 50%;
}
.carousel-text-10{
  text-align:center;margin:10px;
}
.padding-left-5{
  padding-left: 5%;
}
.whiteColor{
  color: white;
}
.margin-left-2{
  margin-left: 2px;
}
.margin-left-1{
  margin-left: 1%;
}
.margin-left-5{
  margin-left: .5%;
}
.padding-bottom-5{
  padding-left: 5%;
}