<div id="loader" class="loader" *ngIf="!pageData.data"></div>
<div class="main-content">
	<div class="row">
		<ol *ngFor="let headerNav of nav; let i = index" [attr.data-index]="i">
			<li class="row">
				<a [routerLink]="" (click)="openPageFromNav(navIds[i], i)"
					title="{{headerNav}} Study Material"><b>{{headerNav}}</b></a>
				<div *ngIf="i!=navIds.length-1" class="primaryColor">&nbsp;&nbsp;&gt;</div>
			</li>
		</ol>
	</div>
	<div *ngIf="isArticle" class="jumbotron" [innerHtml]="aboutExamContent"> </div>
	<ngx-masonry [updateLayout]="updateMasonryLayout" [options]="{ transitionDuration: '0.0s' }">
		<ngxMasonryItem class="masonry-item" *ngFor="let key of keys;">
			<div class="card mb-3 bg-light">
				<div class="card-body">
					<h4 class="card-title">{{key}}</h4>
					<div *ngFor="let el of pageData.data.groupedPageItems[key]; let i=index"
						class="padding-bottom-2">
						<a [routerLink]="" (click)="openNextPage(el.isChild, el.metaTitle)"
							class="h5-text-style">
							<tr class="card-subtitle" title="{{el.tag}}">
								<td class="cover">
									<!-- <svg-icon src="{{el.coverUrlSvg}}" [svgStyle]="{ 'width.px':60, 'height.px':60  }" *ngIf="el.coverUrlSvg" (load)="updateMasonryLayout = !updateMasonryLayout"></svg-icon>
										<svg-icon src="/assets/images/logosq_light.png" *ngIf="!el.coverUrl" (load)="updateMasonryLayout = !updateMasonryLayout"></svg-icon> -->
									<img src="{{el.coverUrl}}" *ngIf="el.coverUrl" alt="{{el.metaTitle}}"
										(load)="updateMasonryLayout = !updateMasonryLayout">
									<img src="/assets/images/logosq_light.png" *ngIf="!el.coverUrl"
										(load)="updateMasonryLayout = !updateMasonryLayout">
								</td>
								<td class="pageName">
									{{el.pageItemName}}
								</td>
							</tr>
						</a>
					</div>
				</div>
			</div>
		</ngxMasonryItem>
	</ngx-masonry>


	<div class="sbuttons">
		<div *ngIf="isClickedShare">
			<a [routerLink]="" (click)="openWhatsApp()" class="sbutton whatsapp" tooltip="WhatsApp"><i
					class="fab fa-whatsapp"></i></a>

			<a [routerLink]="" (click)="openFacebook()" class="sbutton fb" tooltip="Facebook"><i
					class="fab fa-facebook-f"></i></a>

			<a [routerLink]="" (click)="openMail()" class="sbutton gplus" tooltip="Mail"><i
					class="fab fa-google-plus-g"></i></a>

			<a [routerLink]="" (click)="openMessenger()" class="sbutton twitt" tooltip="Fb messenger"><i
					class="fab fa-twitter"></i></a>
		</div>
		<a [routerLink]="" (click)="shareClicked()" class="sbutton mainsbutton"
			tooltip="Share this page with your friends"><i class="fas fa-share-alt"></i></a>
	</div>
</div>