.tableHeader{
    margin-top: 50px;
    table-layout: fixed;
    width: 100%;
    border-collapse: unset;
}
.mb-3, .my-3 {
  margin-bottom: 0 !important;
}
.row{
  margin-left: 0;
}
#ngx-masonry{
margin-left: 0;
margin-right: 0;
}
.card-body {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding-top: 0;
  padding-right: 0;
  padding-left: 0;
  padding-bottom: 3%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.card-subtitle {
  padding-left: 2%;
}
.goBack{
  color: #8b0000;
  font-size: large;
  text-shadow: 2px 2px 4px  rgba(0, 0, 0, 0.18);
}
.card-title {
  padding-left: 2%;
  padding-top: 1%;
  padding-bottom: 1%;
  /* background: linear-gradient(110deg, #8b0000 60%, #2c3e50 60%); */
  /* background: rgba(139, 0, 0, 0.815); */
  background-image: linear-gradient(to left, #ff000000, #2c3e50);
  /* background-image: linear-gradient(to right, #8b0000 , #2c3e50); */
  color: white;
}
.masonry-item { 
    max-width: 48%; 
    min-width: 48%;
    margin-left: 1%;
    margin-right: 1%;
    margin-bottom: 2%;
}
.fontSize{
  font-size: 1.2rem;
}

.nav-link {
    display: block;
    background: #8b0000;
    margin-top: 8%;
    margin-right: 2%;
}
.sbuttons {
    bottom: 15%;
    position: fixed;
    margin: 1em;
    left: 0;
  }
  .sbutton {
    display: block;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
    color: transparent;
    margin: 20px auto 0;
    box-shadow: 0px 5px 11px -2px rgba(0, 0, 0, 0.18), 0px 4px 12px -7px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    -webkit-transition: all .1s ease-out;
    transition: all .1s ease-out;
    position: relative;
  }
  .sbutton > i {
    font-size: 38px;
    line-height: 60px;
    transition: all .2s ease-in-out;
    transition-delay: 2s;
  }
  .sbutton:active,
  .sbutton:focus,
  .sbutton:hover {
    box-shadow: 0 0 4px rgba(0, 0, 0, .14), 0 4px 8px rgba(0, 0, 0, .28);
  }
  .sbutton:not(:last-child) {
    width: 60px;
    height: 60px;
    margin: 20px auto 0;
    opacity: 0;
  }
  .sbutton:not(:last-child) > i {
    font-size: 25px;
    line-height: 60px;
    transition: all .3s ease-in-out;
  }
  .sbutton:not(:last-child) {
    opacity: 1;
    width: 60px;
    height: 60px;
    margin: 15px auto 0;
  }
  .sbutton:nth-last-child(1) {
    -webkit-transition-delay: 25ms;
    transition-delay: 25ms;
  }
  .sbutton:not(:last-child):nth-last-child(2) {
    -webkit-transition-delay: 20ms;
    transition-delay: 20ms;
  }
  .sbutton:not(:last-child):nth-last-child(3) {
    -webkit-transition-delay: 40ms;
    transition-delay: 40ms;
  }
  .sbutton:not(:last-child):nth-last-child(4) {
    -webkit-transition-delay: 60ms;
    transition-delay: 60ms;
  }
  .sbutton:not(:last-child):nth-last-child(5) {
    -webkit-transition-delay: 80ms;
    transition-delay: 80ms;
  }
  .sbutton:not(:last-child):nth-last-child(6) {
    -webkit-transition-delay: 100ms;
    transition-delay: 100ms;
  }
   
  [tooltip]:before {
    font-family: 'Roboto';
    font-weight: 600;
    border-radius: 2px;
    background-color: #585858;
    color: #fff;
    content: attr(tooltip);
    font-size: 12px;
    visibility: hidden;
    opacity: 0;
    padding: 5px 7px;
    margin-left: 10px;
    position: absolute;
    left: 100%;
    bottom: 20%;
    white-space: nowrap;
  }
   
  .sbutton.mainsbutton {
    background:url(/assets/images/share.jpg);
  }
  .sbutton.gplus {
    background:url(/assets/images/gmail60.png);
  }
  .sbutton.twitt {
    background:url(/assets/images/mess60.png);
  }
  .sbutton.fb {
    background:url(/assets/images/facebook60.png);
  }
  .sbutton.whatsapp {
    background:url(/assets/images/whatsapp60.png);
  }

  .blink {
    margin-top: 2.5%;
    animation: blinker 2s linear infinite;
    color: #2c3e50;
   }
  @keyframes blinker {  
    50% { opacity: 0; }
   }
   .main-content {
    padding-top: 15%;
    min-height: 80vh;
    padding-left: 2%;
    padding-right: 2%;
    margin: 0;
     /* The image used */
     

     /* Set a specific height */
     min-height: 80vh;
   
     /* Create the parallax scrolling effect */
     background-attachment: fixed;
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
     }

    .loader {
      background: url('/assets/images/loading_small.gif') 50% 50% no-repeat rgb(249,249,249);
    } 

    .jumbotron{
      padding:2%;
      margin-bottom: 2%;
      background-color:#ecf0f1;
      border-radius:0.3rem;
      box-shadow: 0px 5px 11px -2px rgba(0, 0, 0, 0.18), 0px 4px 12px -7px rgba(0, 0, 0, 0.15);
  }
  .pageName{
    color: #2c3e50!important; width: 100%;
  }
