@media (max-width: 700px) 
{
.navbar {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: .5%;
}
.image-style{
    border: 0;
    height: 40px;
    width: 40px;
}
ul {
    margin: 0;
}
a {
    color: white;
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
    text-size-adjust: inherit;
}
.list-inline-item:not(:last-child) {
    margin-right: 2px;
}
#fixed-width-flamingo {  
    width: 20px; 
    height: 20px;
} 
}

@media (min-width: 700px) 
{
.image-style{
    border: 0;
    height: 50px;
    width: 50px;
}
.navbar {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: .8%;
}
ul {
    margin: 0;
}
a {
    color: white;
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
    text-size-adjust: inherit;
}
#fixed-width-flamingo {  
    width: 30px; 
    height: 30px;
}
}
.bg-primary{
    background-color: #2c3e50!important;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}
.navbar-brand{
    color: white;
}
.matBtn {
    -webkit-appearance: button;
    text-rendering: auto;
    color: buttontext;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    align-items: flex-start;
    cursor: default;
    background-color: buttonface;
    box-sizing: border-box;
    margin: 0em;
    font: 400 11px system-ui;
    padding: 1px 7px 2px;
    border-width: 1px;
    border-style: solid;
    border-image: initial;
    background-color: #2c3e50;
    border-color: #2c3e50;
    color: white;
}