<div style="background-image: url('assets/images/bg.jpg'); padding-bottom: 5%">
	<div id="loader" class="loader" *ngIf="!metaData"></div>
	<div class="main-content">
		<table class="table1" *ngIf="groupUrl">
			<tr>
				<td class="width-75">
					<h1 class="titleStyle"
						title="{{titleText}}">
						<b>{{titleText}}</b></h1>
				</td>
				<td class="blink">
					<a>
						<img alt="Join FinalRevise WhatsApp group" src="/assets/images/whatsapp_join.png">
					</a>
				</td>
			</tr>
		</table>
		<table *ngIf="!groupUrl" class="margin-left-right-5">
			<tr>
				<td>
					<h1 class="titleStyle"
						title="{{titleText}}">
						<b>{{titleText}}</b></h1>
				</td>
			</tr>
		</table>
		<div *ngIf="!tags" class="margin-left-right-5">
			<div class="jumbotron">
				<iframe [src]="transform(pdfUrl)"></iframe>
			</div>
			<div class="navbar bg-primary">
				<ul class="list-inline">
					<li class="list-inline-item">
						<b>
							<font size="3" color="white"><b>Share {{titleText}} page with your friends :</b></font>
						</b>
					</li>
					<li class="list-inline-item">
						<a [routerLink]=""(click)="openFacebook()">
							<img border="0" id="fixed-width-flamingo" alt="Share page url on Facebook" src="/assets/images/facebook60.png" />
						</a>
					</li>
					<li class="list-inline-item">
						<a [routerLink]=""(click)="openWhatsApp()">
							<img border="0" id="fixed-width-flamingo" alt="Share page url on WhatsApp" src="/assets/images/whatsapp60.png" />
						</a>
					</li>
					<li class="list-inline-item">
						<a [routerLink]=""(click)="openMail()">
							<img border="0" id="fixed-width-flamingo" alt="Share page url on Gmail" src="/assets/images/gmail60.png" />
						</a>
					</li>
					<li class="list-inline-item">
						<a [routerLink]=""(click)="openMessenger()">
							<img border="0" id="fixed-width-flamingo" alt="Share page url on messenger" src="/assets/images/mess60.png" />
						</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="row" *ngIf="tags">
			<div class="col-sm-8">
				<div class="jumbotron aboutExam">
					<iframe [src]="transform(pdfUrl)"></iframe>
				</div>
				<div class="navbar bg-primary">
					<ul class="list-inline">
						<li class="list-inline-item">
							<font size="3" color="white"><b>Share {{titleText}} page with your friends :</b></font>
						</li>
						<li class="list-inline-item">
							<a [routerLink]=""(click)="openFacebook()">
								<img border="0" id="fixed-width-flamingo" alt="Share page url on Facebook" src="/assets/images/facebook60.png" />
							</a>
						</li>
						<li class="list-inline-item">
							<a [routerLink]=""(click)="openWhatsApp()">
								<img border="0" id="fixed-width-flamingo" alt="Share page url on WhatsApp" src="/assets/images/whatsapp60.png" />
							</a>
						</li>
						<li class="list-inline-item">
							<a [routerLink]=""(click)="openMail()">
								<img border="0" id="fixed-width-flamingo" alt="Share page url on Gmail" src="/assets/images/gmail60.png" />
							</a>
						</li>
						<li class="list-inline-item">
							<a [routerLink]=""(click)="openMessenger()">
								<img border="0" id="fixed-width-flamingo" alt="Share page url on messenger" src="/assets/images/mess60.png" />
							</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="jumbotron" style="padding: 2%;">
					<h5 class="relatedLinks-text"><b>Related links</b></h5>
					<hr class="my-3">
					<table>
						<tr *ngFor="let el of tags">
							<a [routerLink]=""(click)="openTag(el)">
								<td>
									<img alt="{{el.relatedLinksHeading}}"  src="{{el.relatedLinksImgUrl}}" />
								</td>
								<td class="related" valign="top">
									<b>
										{{el.relatedLinksHeading}}
									</b>
									<br>
									<br>
									{{el.relatedLinksSmallDesc}}
								</td>
							</a>
						</tr>
					</table>
				</div>
			</div>
		</div>
		<div class="sbuttons">
			<div *ngIf="isClickedShare">
				<a [routerLink]=""(click)="openWhatsApp()" class="sbutton whatsapp" tooltip="WhatsApp"><i
						class="fab fa-whatsapp"></i></a>

				<a [routerLink]=""(click)="openFacebook()" class="sbutton fb" tooltip="Facebook"><i
						class="fab fa-facebook-f"></i></a>

				<a [routerLink]=""(click)="openMail()" class="sbutton gplus" tooltip="Mail"><i
						class="fab fa-google-plus-g"></i></a>

				<a [routerLink]=""(click)="openMessenger()" class="sbutton twitt" tooltip="Fb messenger"><i
						class="fab fa-twitter"></i></a>
			</div>
			<a [routerLink]=""(click)="shareClicked()" class="sbutton mainsbutton"
				tooltip="Share this page with your friends"><i class="fas fa-share-alt"></i></a>
		</div>
	</div>
</div>