<div id="loader" class="loader" *ngIf="!pageData.data"></div>
<div class="main-content">
	<div class="row margin-top-5">
		<ol class="breadcrumb" *ngFor="let headerNav of nav; let i = index" [attr.data-index]="i">
			<li class="breadcrumb-item">
				<a [routerLink]=""(click)="openPageFromNav(navIds[i])">{{headerNav}}</a>
			</li>
		</ol>
	</div>

	<h3>Seach result for : {{searchTxt}}</h3>
	<div class="jumbotron">
			<div *ngFor="let el of pageData.data">
				<a [routerLink]=""(click)="openPage(el.metaTitle, el.type, el.isChild)">
					<p>{{el.title}}</p>
				</a>
		</div>
	</div>
	<div class="floatRight">
		<a [routerLink]=""(click)="openPreviousPage()" class="previous">&laquo; Previous</a>
		<a [routerLink]=""(click)="openNextPage()" class="next margin-left-5">Next &raquo;</a>
	</div>
</div>