.jumbotron{
  padding:0rem 0rem;margin-bottom:0rem;background-color:#ecf0f1;
  border-radius:0.3rem;
  text-align: center;
  box-shadow: 0px 5px 11px -2px rgba(0, 0, 0, 0.18), 0px 4px 12px -7px rgba(0, 0, 0, 0.15);
}
.hr-sect {
display: flex;
flex-basis: 100%;
align-items: center;
color: #2c3e50;
margin: 8px 0px;
}
.hr-sect::before,
.hr-sect::after {
content: ";
flex-grow: 1;
background: rgba(133, 133, 133, 0.35);
height: 1px;
font-size: 0px;
line-height: 0px;
margin: 0px 8px;
}
.col-lg-2
{
-webkit-box-flex:0;-ms-flex:0 0 20%;flex:0 0 20%;max-width:20%
}
.col-lg-3{
  position: relative;
  width: 33%;
  min-height: 1px;
  padding: 1%;
}
.container{
  padding: 0%;
}
.row{
  margin: 0%;
}
.carousel{
  max-height: 40%;
}
.h5-style{
  text-align:center; 
  margin-top: 10px;
  color: #8b0000;
  font-size: 125%;
  text-shadow: 2px 2px 4px  rgba(0, 0, 0, 0.18);
}
.main-content {
  padding-top: 18%;
  padding-bottom: 18%;
  min-height: 80vh;
    /* The image used */
    
    background-size: cover;
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 80vh;
  }
  a {
    text-decoration: none !important;
}
table{
  width: 100%;
  border-collapse:collapse;
  padding: 1%;
}

td{
  width: 50%;
  text-align: left;
  padding: 1%;
}
#pics{
  width: 100% !important;
}
image{
  x: -2;
  y: -99;
}
.mat-card{
  box-shadow: 3px 3px 3px #868686;
  padding-left: .10%;
  padding-right: .10%;
  padding-top: .10%;
  padding-bottom: 3%;
}