<!--The content below is only a placeholder and can be replaced.-->
<div class="main-content">
	<div class="container">
		<div style="text-align:center; padding-top: 3%;color: #8b0000; text-shadow: 2px 2px 4px #868686;">
			<h1 style="font-size:270%;">
				<b>Question Papers & Study Material</b>
			</h1>
		</div>
		<form [formGroup]="signupfrm" (ngSubmit)="getSearchResult()">
			<div style="align-content:center;margin:30px;">
				<input name="name" formControlName="name" class="form-control mr-sm-2" type="text"
					placeholder="Search any study material">
			</div>
		</form>
		<table cellpadding="5" class="margin-8">
			<tr>
				<td>
					<a class="margin-5" [routerLink]=""(click)="openNextPage('school-boards')">
						<mat-card>
							<img alt="school books, previous year paper with notes and syllabus" src="/assets/pngs/pic/school.png">
							<mat-card-content>
								<h2 class="h5-style">
									<b>School Boards</b>
								</h2>
							</mat-card-content>
						</mat-card>
					</a>
				</td>
				<td>
					<a style="margin-top:.5%;margin-bottom: .5%;" [routerLink]="
						(click)="openNextPage('all-competitive-exams')">
						<mat-card>
							<img alt="entrance exam papers with free study materials and notes" src="/assets/pngs/pic/entrance.png"
								>
							
							<mat-card-content>
								<h2 class="h5-style">
									<b>Entrance Exams</b>
								</h2>
							</mat-card-content>
						</mat-card>
					</a>
				</td>
			</tr>
			<tr>
				<td>
					<a class="margin-5" [routerLink]=""(click)="openNextPage('placement-papers')">
						<mat-card>
							<img alt="placement paper, all question and answer" src="/assets/pngs/pic/placement.png"
								>
							<mat-card-content>
								<h2 class="h5-style">
									<b>Placement Papers</b>
								</h2>
							</mat-card-content>
						</mat-card>
					</a>
				</td>
				<td>
					<a style="margin-top: .5%; margin-bottom: .5%;" [routerLink]="
						(click)="openNextPage('government-jobs')">
						<mat-card>
							<img alt="government job paper question answer, books and notes" src="/assets/pngs/pic/govt.png" >
							
							<mat-card-content>
								<h2 class="h5-style">
									<b>Government Jobs</b>
								</h2>
							</mat-card-content>
						</mat-card>
					</a>
				</td>
			</tr>
			<tr>
				<td>
					<a style="margin-top: .5%;" [routerLink]=""(click)="openNextPage('university')">
						<mat-card>
							<img alt="semester papers, notes books and assignments" src="/assets/pngs/pic/univ.png" >
							
							<mat-card-content>
								<h2 class="h5-style">
									<b>University Semesters</b>
								</h2>
							</mat-card-content>
						</mat-card>
					</a>
				</td>
				<td>
					<a style="margin-top: .5%;" [routerLink]=""(click)="openNextPage('international-competition')">
						<mat-card>
							<img alt="international exams previous year papers, question answer and study notes" src="/assets/pngs/pic/international.png"
								>
							<mat-card-content>
								<h2 class="h5-style">
									<b>International Competition</b>
								</h2>
							</mat-card-content>
						</mat-card>
					</a>
				</td>
			</tr>
		</table>
		<div style="text-align:center;margin:10px;">
			<h4>
				<div class="hr-sect">
					<b>Category</b>
				</div>
			</h4>
		</div>
		<div>
			<div class="row">
				<div class="col-lg-3">
					<a [routerLink]=""(click)="openNextPage('Past Papers')">
						<img alt="past papers of government job exams, universities and placement paeras" src="/assets/images/previous.png">
						<h3 class="h5-style">
							<b>Past Papers</b>
						</h3>
					</a>
				</div>
				<div class="col-lg-3">
					<a [routerLink]=""(click)="openNextPage('Free Books')">
						<img alt="ebooks of all schools boards and competitive exams with notes" src="/assets/images/books.png">
						<h3 class="h5-style">
							<b>E-Books</b>
						</h3>
					</a>
				</div>
				<div class="col-lg-3">
					<a [routerLink]=""(click)="openNextPage('Notes')">
						<img alt="notes for school boards, government jobs and universities" src="/assets/images/notes.png" alt="Card image">
						<h3 class="h5-style">
							<b>Notes</b>
						</h3>
					</a>
				</div>
			</div>
			<div class="row" class="webkit-center-center">
				<div class="col-lg-3" style="padding-right: 5%; margin-left: 15%">
					<a [routerLink]=""(click)="openNextPage('Assignments')">
						<img alt="assignments for school boards and universities" src="/assets/images/assignment.png" alt="Card image">
						<h3 class="h5-style">
							<b>Assignments</b>
						</h3>
					</a>
				</div>
				<div class="col-lg-3" class="padding-left-5">
					<a [routerLink]=""(click)="openNextPage('Syllabus')">
						<img alt="syllabus of 10th & 12th class, universities and entrance exams" src="/assets/images/syllabus.png" alt="Card image">
						<h3 class="h5-style">
							<b>Syllabus</b>
						</h3>
					</a>
				</div>
			</div>
		</div>
		<div id="carousel" class="carousel slide" data-ride="carousel" style="margin-top: 40px; ">
			<div class="container">
				<div class="jumbotron p-3">
					<div class="carousel-inner">
						<div class="carousel-item active">
							<div class="d-none d-lg-block">
								<div class="media">
									<div class="media-body my-auto">
										<h5><b class="primaryColor">FinalRevise</b> helps
											students
											students in preparation of their exams. Multiple sections include Semester Exam question & answer /Entrance Exam paper & answer key / School Board Exam / Government Job Exam papers /Placement Papers /GRE /GMAT and all competitive exam paper & solutions.</h5>
									</div>
								</div>
							</div>
							<div class="d-lg-none d-xl-none">
								<div class="card bg-transparent border-0">
									<div class="card-body">
										<h5><b class="primaryColor">FinalRevise</b> helps
											students
											students in preparation of their exams. Multiple sections include Semester Exam question & answer /Entrance Exam paper & answer key / School Board Exam / Government Job Exam papers /Placement Papers /GRE /GMAT and all competitive exam paper & solutions.</h5>
									</div>
								</div>
							</div>
						</div>
						<div class="carousel-item">
							<div class="d-none d-lg-block">
								<div class="media">
									<div class="media-body my-auto">
										<h5>The largest collection of papers, notes, free e-books, question & answer available in pdf. <b
												class="primaryColor">10M+ downloads of study material. </b>Appreciated by more than 1M+ users.Updating new features and material daily on student's demands.</h5>
									</div>
								</div>
							</div>
							<div class="d-lg-none d-xl-none">
								<div class="card bg-transparent border-0">
									<div class="card-body">
										<h5>The largest collection of papers, notes, free e-books, question & answer available in pdf. <b
												class="primaryColor">10M+ downloads of study material. </b>Appreciated by more than 1M+ users. Updating new features and material daily on student's demands.</h5>
									</div>
								</div>
							</div>
						</div>
						<div class="carousel-item">
							<div class="d-none d-lg-block">
								<div class="media">
									<div class="media-body my-auto">
										<h5>We are also providing a wide range of services and facilities for students like <b
												class="primaryColor">Advertise with FinalRevise, much Affordable Tour & Traveling packages, Best Hostels & PGs, Event Management and Personalised printing on T-shirts, mugs etc.. </b>
											For more check the ‘other services’ section.</h5>
									</div>
								</div>
							</div>
							<div class="d-lg-none d-xl-none">
								<div class="card bg-transparent border-0">
									<div class="card-body">
										<h5>We are also providing a wide range of services and facilities for students like <b
												class="primaryColor">Advertise with FinalRevise, much Affordable Tour & Traveling packages, Best Hostels & PGs, Event Management and Personalised printing on T-shirts, mugs etc.. </b>
												For more check the ‘other services’ section.</h5>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>