<div class="bg-primary">
	<div style="margin-top: 10px; text-align: center">
		<ul class="list-inline">
			<b>
				<font color="#2c3e50" style="font-size: 1.2rem">*Upload papers/notes and help others*</font>
			</b>
		</ul>
	</div>
	<div style="text-align:center; margin-top: 10px;">
		<label>
			<input class="size-50" type='file' (change)="selectFile($event)" multiple>
		</label>
		<button class="button2" [disabled]="!selectedFiles" (click)="upload()">Upload</button>
		<ul class="list-inline">
			<b>
				<font color="red" style="font-size: 1rem">{{uploadMsg}}</font>
			</b>
		</ul>
	</div>
	<ul class="list-inline" style="text-align: -webkit-center; margin-top: 10px;">
		<li class="list-inline-item">
			<b class="secondaryColor">
				Follow us :&nbsp;&nbsp;
			</b>
		</li>
		<li class="list-inline-item">
			<a href="https://www.linkedin.com/company/finalrevise/" target="_blank">
				<img class="padding-10" border="0" id="fixed-width-flamingo"
					src="/assets/images/linkedin.png" />
			</a>
		</li>
		<li class="list-inline-item">
			<a href="https://www.youtube.com/channel/UCODEmMV_ka_Xb5hKoTGOEHQ" target="_blank">
				<img class="padding-10" border="0" id="fixed-width-flamingo" src="/assets/images/youtube.png" />
			</a>
		</li>
		<li class="list-inline-item">
			<a href="https://www.facebook.com/finalrevise/" target="_blank">
				<img class="padding-10" border="0" id="fixed-width-flamingo"
					src="/assets/images/social_facebook.png" />
			</a>
		</li>
		<li class="list-inline-item">
			<a href="https://www.instagram.com/finalrevise/" target="_blank">
				<img class="padding-10" border="0" id="fixed-width-flamingo"
					src="/assets/images/instagram.png" />
			</a>
		</li>
	</ul>
	<ul class="list-inline">
		<li class="list-inline-item inline1">
			<ul class="list">
				<li class="list-item">
					<a routerLink=""class="primaryColor"><b>COMPANY</b></a>
				</li>
				<li class="list-item">
					<a routerLink="/our-services">Our Services</a>
				</li>
				<li class="list-item">
					<a routerLink="/about">About</a>
				</li>
				<li class="list-item">
					<a routerLink="/contact">Contact us</a>
				</li>
			</ul>
		</li>
		<li class="list-inline-item inline1">
		</li>
		<li class="list-inline-item inline2">
			<div class="jumbotron">
			<a href="https://play.google.com/store/apps/details?id=com.finalrevise.android" target="_blank">
				<img class="play-img" border="0" src="/assets/images/playstore.png" />
			</a>
			</div>
		</li>
	</ul>
</div>
<div class="align-center">
	<font color="#ecf0f1">Copyright © FinalRevise 2018-20. All rights reserved.</font>
</div>