ul{
    margin-bottom: 0rem;
}
.jumbotron{
    padding:0rem 0rem;margin-bottom:0rem;
    background-color:#ecf0f1;
    border-radius:0.3rem;
    text-align: right;
}
.navbar {
    position: relative;
    display: block;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: left;
}
.bg-primary{
    background-color: #ecf0f1!important;
    padding-bottom: 1%;
    padding-top: 1%;
    box-shadow: 0 4px 8px #2c3e50, 0 6px 20px 0 #2c3e50;
}
.align-center{
    text-align: center;
    background-color: #2c3e50!important;;
    padding: 0.5%;
}
.list-item{
    color: #ecf0f1;
}
a{
 color: #2c3e50;
 font-weight: 500;
}
.list{
    padding-inline-start: 5%;
}
@media (max-width: 700px) 
{
    .play-img{
        width: 70%;
        height: 55%;
        padding-top: 5%;
      }
    .list-inline-item{
        display: table-cell;
    }
    .inline1{
        width: 30%;
    }
    .inline2{
        width: 60%;
    }
}
@media (min-width: 700px) 
{
    .play-img{
        width: 28%;
        height: 12%;
      }
  .list-inline-item{
    display: table-cell;
}
.inline1{
    width: 30%;
}
.inline2{
    width: 30%;
    padding-right: 2%;
}
}
table.d {
    width: 100%;  
  }
  .image-upload>input {
    display: none;
  }

.text-1-2rem{
    font-size: 1.2rem;
    color: #2c3e50;
}
.button-upload{
    margin-top: 10px; text-align: center;
}
.text-1rem{
    font-size: 1.2rem;
    color: red;
}