<div class="main-content">
	<div class="jumbotron">
		<h2>404 Not Found</h2>

		<p>Oops! Path is not found.</p>

		<p>You can go <a href=" ng-click="back()">back</a> or <a href="#">home</a> instead.</p>
	</div>
</div>
</div>