.jumbotron{
    padding:0rem 0rem;margin-bottom:0rem;background-color:#ecf0f1;border-radius:0.3rem
}
    .play-img{
        width: 10%;
        height: 5%;
      }
@media (min-width: 576px){
    .jumbotron{padding:1.25rem .2rem}
}
.main-content {
    padding-top: 7.2%;
    padding-left: 2%;
    padding-right: 2%;
    min-height: 80vh;
    padding-bottom: 2%;
    background-image: url('/assets/images/bg.jpg');
  }
  