<div class="main-content">
	<h1>: Contact us :</h1>
	<div class="jumbotron">
		<div class="grid_4">
			<div class="grid_2 preffix_1">
				<ul class="iphone">
					<i class="phone"> </i>
					<li class="phone_desc">
						<b>Phone No :</b> +91 9068758150 </li>
					<div class="clearfix"> </div>
				</ul>
				<ul class="iphone">
					<i class="flag"> </i>
					<li class="phone_desc">
						<b>Website :</b>
						<a routerLink="http://finalrevise.com"> http://finalrevise.com</a>
					</li>
					<div class="clearfix"> </div>
				</ul>
			</div>
			<div class="grid_3">
				<ul class="iphone">
					<i class="msg"> </i>
					<li class="phone_desc">
						<b>Email :</b>
						<a class="margin-left-2" href="mailto:admin@finalrevise.com">admin@finalrevise.com</a>
					</li>
					<div class="clearfix"> </div>
				</ul>
				<ul class="iphone">
					<i class="home"> </i>
					<li class="phone_desc">
						<b>Follow us :</b>
						<a href="https://www.facebook.com/finalrevise/" target="_blank">
							<img border="0" data-original-height="40" data-original-width="40"
								src="/assets/images/social_facebook.png" class="margin-left-1" />
						</a>
						<a href="https://www.instagram.com/finalrevise/" target="_blank" class="margin-left-5">
							<img border="0" data-original-height="40" data-original-width="40"
								src="/assets/images/instagram.png" />
						</a>
					</li>
				</ul>
				<ul class="iphone">
					<a href="https://play.google.com/store/apps/details?id=com.finalrevise.android" target="_blank">
						<img class="play-img" data-original-width="40" src="/assets/images/playstore.png"
							class="margin-left-1" />
					</a>
				</ul>
			</div>
		</div>
	</div>
</div>