<div id="loader" class="loader" *ngIf="!pageData.data"></div>
<div class="main-content">
  <div class="textAlignCenter">
    <div *ngFor="let el of pageData.data" class="card">
      <a [routerLink]=""(click)="openNextPage(el.tag)"
        class="h5-text-style">
        <img src="{{el.entityImage}}" alt="Card image">
        <div class="descri"><b>{{el.entityName}}</b></div>
      </a>
    </div>
  </div>
</div>