<div id="loader" class="loader" *ngIf="!pageData.data"></div>
<div class="padding-bottom-5">
	<div class="main-content">
		<h5 class="row goBack" onclick="window.history.back()">
			<div class="go-back"><b>&nbsp; &lt;</b></div><b>Back</b>
		</h5>
		<hr>
		<h1 class="title" title="{{titleText}}">
			<b>{{pageTitle}}</b></h1>
		<a href="{{groupUrl}}" target="_blank" *ngIf="groupUrl">
			<img class="center" alt="Join FinalRevise WhatsApp group" src="/assets/images/whatsapp_join.png">
		</a>
		<h1 *ngIf="dujat" class="dujat" title="Mock Test Paper DUJAT">
			<a class="blueColor" href="https://forms.gle/LqxtE6LjA1iupdUG6" target="_blank"><b><u>2 Mock Test of
						DUJAT 2020 in Rs 30 for BMS, BBE and BBA (Click here)</u></b></a></h1>
		<div class="jumbotron">
			<div [innerHtml]="aboutExamContent"> </div>
			<hr class="my-4">
			<div *ngFor="let el of linkedPageItems">
				<a [routerLink]=""(click)="openNextPage(el.pageDocLink, el.pageItemName)">
					<p>{{el.pageItemName}}</p>
				</a>
			</div>
		</div>
		<div class="navbar bg-primary">
			<ul class="list-inline">
				<li class="list-inline-item">
					<b>
						<font size="3" color="white">Share {{pageTitle}} page with your friends :
						</font>
					</b>
				</li>
				<li class="list-inline-item">
					<a [routerLink]=""(click)="openFacebook()">
						<img border="0" id="fixed-width-flamingo" alt="Share page url on Facebook" src="/assets/images/facebook60.png" />
					</a>
				</li>
				<li class="list-inline-item">
					<a [routerLink]=""(click)="openWhatsApp()">
						<img border="0" id="fixed-width-flamingo" alt="Share page url on WhatsApp" src="/assets/images/whatsapp60.png" />
					</a>
				</li>
				<li class="list-inline-item">
					<a [routerLink]=""(click)="openMail()">
						<img border="0" id="fixed-width-flamingo" alt="Share page url on Gmail" src="/assets/images/gmail60.png" />
					</a>
				</li>
				<li class="list-inline-item">
					<a [routerLink]=""(click)="openMessenger()">
						<img border="0" id="fixed-width-flamingo" alt="Share page url on messenger" src="/assets/images/mess60.png" />
					</a>
				</li>
			</ul>
		</div>
		<div class="jumbotron margin-top-5" *ngIf="tags">
			<h5 class="relatedLinks-text"><b>Related links</b></h5>
			<hr class="my-3">
			<table>
				<tr *ngFor="let el of tags">
					<a [routerLink]=""(click)="openTag(el)">
						<!-- <td>
							<img alt="{{el.relatedLinksHeading}}"  src="{{el.relatedLinksImgUrl}}" />
						</td> -->
						<td class="related" valign="top">
							<b class="secondaryColor">
								<u>
									{{el.relatedLinksHeading}}
								</u>
							</b>
							<br>
							<br>
							{{el.relatedLinksSmallDesc}}
						</td>
						<hr class="my-3">
					</a>
				</tr>
			</table>
		</div>

		<div class="sbuttons">
			<div *ngIf="isClickedShare">
				<a [routerLink]=""(click)="openWhatsApp()" class="sbutton whatsapp" tooltip="WhatsApp"><i
						class="fab fa-whatsapp"></i></a>

				<a [routerLink]=""(click)="openFacebook()" class="sbutton fb" tooltip="Facebook"><i
						class="fab fa-facebook-f"></i></a>

				<a [routerLink]=""(click)="openMail()" class="sbutton gplus" tooltip="Mail"><i
						class="fab fa-google-plus-g"></i></a>

				<a [routerLink]=""(click)="openMessenger()" class="sbutton twitt" tooltip="Fb messenger"><i
						class="fab fa-twitter"></i></a>
			</div>
			<a [routerLink]=""(click)="shareClicked()" class="sbutton mainsbutton"
				tooltip="Share this page with your friends"><i class="fas fa-share-alt"></i></a>
		</div>
	</div>
</div>