.jumbotron{
    padding:0rem 0rem;margin-bottom:0rem;background-color:#ecf0f1;border-radius:0.3rem
  }
  @media (min-width: 576px){
    .main-content {
      padding-top: 7.2%;
      padding-left: 7%;
      padding-right: 7%;
      min-height: 80vh;
      padding-bottom: 2%;
      background-image: url('/assets/images/bg.jpg');

  /* Set a specific height */
  min-height: 80vh;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
    }
    img{
      width: 70%; height: 65%;
    }
  }
  @media (max-width: 576px){
    .main-content {
      padding-top: 15%;
      padding-left: 2%;
      padding-right: 2%;
      min-height: 80vh;
      padding-bottom: 5%;
      background-image: url('/assets/images/bg.jpg');
      
  /* Set a specific height */
  min-height: 80vh;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

    } 
    img{
      width: 50%; height: 90%;
    }
  }
  .hr-sect {
    display: flex;
    flex-basis: 100%;
    align-items: center;
    color: #2c3e50;
    margin: 8px 0px;
  }
  .hr-sect::before,
  .hr-sect::after {
    content: "";
    flex-grow: 1;
    background: rgba(133, 133, 133, 0.35);
    height: 1px;
    font-size: 0px;
    line-height: 0px;
    margin: 0px 8px;
  }
  .container{
    padding-bottom: 2%;
    padding-left: 0%;
    padding-right: 0%;
  }
  .my-auto{
    text-align: -webkit-center;
  }
.carousel-indicators li {
  background-color: #8b0000;
  margin-bottom: 1%;
}
.row{
  margin: 0;
}