<div class="main-content">
	<div style="text-align:center;margin-bottom: 30px">
		<h3>
			<div class="hr-sect">
				<b>Our Services</b>
			</div>
		</h3>
	</div>
	<div class="jumbotron">
		<div style="text-align: center; padding: 10px; color: #8b0000;">
			<h4><u><b><i>Advertise with FinalRevise</i></b></u></h4>
		</div>
		<div class="row" style="text-align: -webkit-center; display: flex">
			<div class="col-lg-3">
				<img src="/assets/images/advertise.png">
			</div>
			<div class="col-lg-9" style="text-align: left;">
				<h5>Finalrevise.com is an educational platform which is already served useful study material to <b>over
						1M+
						students.</b> We are growing rapidly and adding more useful features every day.
					<b><br><br>We are providing wide range of advertising options for advertisers at FinalRevise as well
						as
						our social media channels.<br><br></b>
					<b><i>- Facebook/Instagram</i><br></b>
					<b><i>- WhatsApp</i><br></b>
					<b><i>- FinalRevise website</i><br></b>
				</h5>
				<div style="text-align: end; padding: 10px">
					<h4><b><u><a routerLink="/contact" target="_blank">(Contact us)</a></u></b></h4>
				</div>
			</div>
		</div>
	</div>
	<hr>
	<div class="jumbotron">
		<div style="text-align: center; padding: 10px; color: #8b0000;">
			<h4><u><b><i>Affordable Tour and Traveling</i></b></u></h4>
		</div>
		<div class="row" style="text-align: -webkit-center; display: flex">
			<div class="col-lg-3">
				<img src="/assets/images/travel.png">
			</div>
			<div class="col-lg-9" style="text-align: left;">
				<h5>Bored after taking exams. Want to do something adventurous, we are here for you.<br>
					We will provide you the best travelling experience you ever had by giving you the best facilities in
					affordable price.<br><br>
					<b><i>- Full transportation</i><br></b>
					<b><i>- Group discounts</i><br></b>
					<b><i>- DJ night</i><br></b>
					<b><i>- Bon Fire</i><br></b>
					<b><i>- Luxury Rooms</i><br></b>
				</h5>
				<div style="text-align: end; padding: 10px">
					<h4><b><u><a routerLink="/contact" target="_blank">(Contact us)</a></u></b></h4>
				</div>
			</div>
		</div>
	</div>
	<hr>
	<div class="jumbotron">
		<div style="text-align: center; padding: 10px; color: #8b0000;">
			<h4><u><b><i>Best Hostels and PGs</i></b></u></h4>
		</div>
		<div class="row" style="text-align: -webkit-center; display: flex">
			<div class="col-lg-3">
				<img src="/assets/images/hostel.png">
			</div>
			<div class="col-lg-9" style="text-align: left;">
				<h5>As we are solving every problems of college campus so how can we forget about PG.<br>
					After taking admission the second thing you need is a good pg with good facilities.<br>
					PG is the second home away from home that you need to live in with all full amenities-<br><br>
					<b><i>- Wi-Fi</i></b><br>
					<b><i>- Refrigerator/Air Conditioner</i><br></b>
					<b><i>- Good environment</i><br></b>
					<b><i>- Affordable price</i> <br></b>
					<b><i>- Near your college</i><br></b>
				</h5>
				<div style="text-align: end; padding: 10px">
					<h4><b><u><a routerLink="/contact" target="_blank">(Contact us)</a></u></b></h4>
				</div>
			</div>
		</div>
	</div>
	<hr>
	<div class="jumbotron">
		<div style="text-align: center; padding: 10px; color: #8b0000;">
			<h4><u><b><i>Event Management and Printing</i></b></u></h4>
		</div>
		<div class="row" style="text-align: -webkit-center; display: flex">
			<div class="col-lg-3">
				<img src="/assets/images/fest.png">
			</div>
			<div class="col-lg-9" style="text-align: left;">
				<h5>Finalrevise.com is providing wide range of service options for societies and colleges students
					arranging
					technical/cultural college festivals. So, they will focus on execution not on arrangements.<br><br>
					<b><i>- Posters and Banners</i></b><br>
					<b><i>- Printed hoodies, t-shirts</i><br></b>
					<b><i>- Medals And Momentos</i><br></b>
					<b><i>- Photography Services</i> <br></b>
					<b><i>- Anchors, Comedians and Professional DJs</i><br></b>
					<b><i>- Sponsorship</i> <br></b>
				</h5>
				<div style="text-align: end; padding: 10px">
					<h4><b><u><a routerLink="/contact" target="_blank">(Contact us)</a></u></b></h4>
				</div>
			</div>
		</div>
	</div>
	<div style="text-align:center;margin-top:30px;margin-bottom: 30px">
		<h3>
			<div class="hr-sect">
				<b>Our Apps</b>
			</div>
		</h3>
	</div>
	<!-- <div class="jumbotron">
	<div style="text-align: center; padding: 10px; color: #8b0000;">
		<h4><u><b><i>The Funify</i></b></u></h4>
	</div>
	<div class="row" style="text-align: -webkit-center; display: flex">
		<div class="col-lg-3">
			<img src="assets/icon_app_funify.png">
		</div>
		<div class="col-lg-9" style="text-align: left;">
			<h5>Getting bored and looking for some funny jokes, hilarious jokes, funny animal pictures, Troll face,
				humor images, inspirational quotes or thug life videos
				by just scrolling down your phone, then here you are ending up at the right place.<br>
				Became the first spot light of your group to share the top trending viral videos, cat comedy, rage
				faces, reaction images, whatsapp status or humor images with your friends on whatsapp group or on
				facebook.<br>
				Funify is the App providing the best memes, jokes, motivational quotes, videos and so on...
			</h5>
			<div style="text-align: end; padding: 10px">
				<h4><b><u><a [routerLink]="https://play.google.com/store/apps/details?id=com.fun.thefunify" target="_blank"><img
									style="width: 20%; height: 25%; text-align: end"
									src="assets/playstore.png"></a></u></b></h4>
			</div>
		</div>
	</div>
</div>
<hr> -->
	<div class="jumbotron">
		<div style="text-align: center; padding: 10px; color: #8b0000;">
			<h4><u><b><i>FinalRevise - Old papers/Notes/Books/Study material</i></b></u></h4>
		</div>
		<div class="row" style="text-align: -webkit-center; display: flex">
			<div class="col-lg-3">
				<img src="/assets/images/logo1.png">
			</div>
			<div class="col-lg-9" style="text-align: left;">
				<h5>FinalRevise is a solution for all the hazels of exam preparations whether it include Entrance exam
					preparations, Board exam preparations or University exams. It is a platform where you can find
					previous
					year question papers of different exams. Our vision is to include previous year papers of all
					courses,
					exams, semesters,
					topics so that students across the world can benefit from this source.<br>
					With the intent of providing all possible study material, we strive towards making studies and last
					minute preparations easy and comfortable, emerging confident inside student before the examination.
					We
					are constantly adding new material on our platform.
				</h5>
				<div style="text-align: end; padding: 10px">
					<h4><b><u><a href="https://play.google.com/store/apps/details?id=com.finalrevise.android"
									target="_blank"><img style="width: 20%; height: 25%; text-align: end"
										src="/assets/images/playstore.png"></a></u></b></h4>
				</div>
			</div>
		</div>
	</div>
</div>