.jumbotron{
  padding-top:2%;
  padding-bottom: 2%;
  margin-bottom:0rem;
  background-color:#ecf0f1;
  border-radius:0.3rem;
  box-shadow: 0px 5px 11px -2px rgba(0, 0, 0, 0.18), 0px 4px 12px -7px rgba(0, 0, 0, 0.15);
}
  .tableHeader{
    margin-top: 75px;
    table-layout: fixed;
    width: 100%;
    border-collapse: unset;
}
    .col-sm-3{
        padding:1rem 0rem;margin-bottom:0rem;background-color:#ecf0f1;border-radius:0.3rem;
        max-width: 35%;-webkit-box-flex:0;-ms-flex:0 0 35%;flex:0 0 35%;height: fit-content;
        margin-left: auto;
    }
    .col-sm-8{
        margin: inherit;
    }
    .navbar {
        position: relative;
        display: block;
        flex-wrap: wrap;
        text-align: center;
        justify-content: space-between;
        padding: 5px;
    }
    section{
        margin: 5px 0px;
        background: linear-gradient(90deg, rgba(144,71,168,0.5), rgba(238,216,185,1));
        padding: 0 15%;
    
    }
    @media (min-width: 1200px){
    .card{
        border: 1px solid #112;
        width: 20%;
        display: inline-block;
        text-align: center;
        margin: 1% 1%;
        box-shadow: 1px 1px 3px #111;
    }
  }
  @media (max-width: 1200px) 
{

  .card{
    border: 1px solid #112;
    width: 30%;
    display: inline-block;
    text-align: center;
    margin: 1% 1%;
    box-shadow: 1px 1px 3px #111;
}

}
    
    .banner {
        display: inline-block;
        width: 100%;
        height: 300px;
        background-color:whitesmoke;
        font-size: 0px;
    }
    .banner>img{
        width:100%;
        height: 300px;
        border-radius: 10px 10px 0 0;
    
    }
    .descri {
        padding: .5%;
        background-color: #8b0000;
        color: white;
        height: 50px;
        overflow-y: hidden;
        border-radius: 0px 0px 10px 10px;
    }
    .card,.banner{
        border-radius: 10px;
    }
    .fontSize{
      font-size: 1.7rem;
    }
ul, menu, dir {
    list-style-type: disc;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 15px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
}
.bg-primary {
    /* background-color: #dfeaec !important; */
    animation: colorchange 5s infinite; /* animation-name followed by duration in seconds*/
         /* you could also use milliseconds (ms) or something like 2.5s */
      -webkit-animation: colorchange 5s infinite; /* Chrome and Safari */
}
#fixed-width-flamingo {  
    width: 35px; 
    height: 35px;
}

.nav-link {
    display: block;
    background: #8b0000;
    margin-bottom: 3%;
    margin-top: 8%;
    margin-right: 2%;
}

@media (max-width:720px){
	body{
		text-align: center;
	}
	.display-4{
		font-size: 30px !important;
	}
}

@keyframes colorchange
    {
      0%   {background: #2c3e50;}
      33%  {background: rebeccapurple;}
      66%  {background: rgb(0, 143, 114)}
      100%  {background: #8b0000;}
    }

    @-webkit-keyframes colorchange /* Safari and Chrome - necessary duplicate */
    {
      0%   {background: #2c3e50;}
      33%  {background: rebeccapurple;}
      66%  {background: rgb(0, 143, 114)}
      100%  {background: #8b0000;}
    }
    
    .sbuttons {
      bottom: 5%;
      position: fixed;
      margin: 1em;
      left: 0;
    }
    .sbutton {
      display: block;
      width: 60px;
      height: 60px;
      border-radius: 50%;
      text-align: center;
      color: transparent;
      margin: 20px auto 0;
      box-shadow: 0px 5px 11px -2px rgba(0, 0, 0, 0.18), 0px 4px 12px -7px rgba(0, 0, 0, 0.15);
      cursor: pointer;
      -webkit-transition: all .1s ease-out;
      transition: all .1s ease-out;
      position: relative;
    }
    .sbutton > i {
      font-size: 38px;
      line-height: 60px;
      transition: all .2s ease-in-out;
      transition-delay: 2s;
    }
    .sbutton:active,
    .sbutton:focus,
    .sbutton:hover {
      box-shadow: 0 0 4px rgba(0, 0, 0, .14), 0 4px 8px rgba(0, 0, 0, .28);
    }
    .sbutton:not(:last-child) {
      width: 60px;
      height: 60px;
      margin: 20px auto 0;
      opacity: 0;
    }
    .sbutton:not(:last-child) > i {
      font-size: 25px;
      line-height: 60px;
      transition: all .3s ease-in-out;
    }
    .sbutton:not(:last-child) {
      opacity: 1;
      width: 60px;
      height: 60px;
      margin: 15px auto 0;
    }
    .sbutton:nth-last-child(1) {
      -webkit-transition-delay: 25ms;
      transition-delay: 25ms;
    }
    .sbutton:not(:last-child):nth-last-child(2) {
      -webkit-transition-delay: 20ms;
      transition-delay: 20ms;
    }
    .sbutton:not(:last-child):nth-last-child(3) {
      -webkit-transition-delay: 40ms;
      transition-delay: 40ms;
    }
    .sbutton:not(:last-child):nth-last-child(4) {
      -webkit-transition-delay: 60ms;
      transition-delay: 60ms;
    }
    .sbutton:not(:last-child):nth-last-child(5) {
      -webkit-transition-delay: 80ms;
      transition-delay: 80ms;
    }
    .sbutton:not(:last-child):nth-last-child(6) {
      -webkit-transition-delay: 100ms;
      transition-delay: 100ms;
    }
     
    [tooltip]:before {
      font-family: 'Roboto';
      font-weight: 600;
      border-radius: 2px;
      background-color: #585858;
      color: #fff;
      content: attr(tooltip);
      font-size: 12px;
      visibility: hidden;
      opacity: 0;
      padding: 5px 7px;
      margin-left: 10px;
      position: absolute;
      left: 100%;
      bottom: 20%;
      white-space: nowrap;
    }
     
    .sbutton.mainsbutton {
      background:url(/assets/images/share.jpg);
    }
    .sbutton.gplus {
      background:url(/assets/images/gmail60.png);
    }
    .sbutton.twitt {
      background:url(/assets/images/mess60.png);
    }
    .sbutton.fb {
      background:url(/assets/images/facebook60.png);
    }
    .sbutton.whatsapp {
      background:url(/assets/images/whatsapp60.png);
    }
    .blink {
      margin-top: 2.5%;
      animation: blinker 2s linear infinite;
      color: #2c3e50;
     }
    @keyframes blinker {  
      50% { opacity: 0; }
     }

   .main-content {
    padding-top: 6.5%;
    padding-left: 2%;
    padding-right: 2%;
    min-height: 80vh;
  }

  hr{
    margin: 0;
  }
  .aboutExam{
    padding: 1.25rem 1.2rem; text-align: -webkit-center
  }
  