<div id="loader" class="loader" *ngIf="!pageData.data"></div>
<div style="background-image: url('assets/images/bg.jpg'); padding-bottom: 5%;">
	<div class="main-content">
		<div class="row">
			<ol *ngFor="let headerNav of nav; let i = index" [attr.data-index]="i">
				<li class="row">
					<a [routerLink]=""(click)="openPageFromNav(navIds[i], i)"
						title="{{headerNav}} Study Material"><b>{{headerNav}}</b></a>
					<div *ngIf="i!=navCount-1" class="aColor">&nbsp;&nbsp;&gt;</div>
				</li>
			</ol>
		</div>
		<hr>
		<div *ngIf="!tags" class="margin-left-right-5">
			<table class="table1" *ngIf="groupUrl">
				<tr>
					<td class="width-75">
						<h1 class="titleStyle"
							title="{{titleText}}">
							<b>{{pageTitle}}</b></h1>
					</td>
					<td class="blink">
						<a href="{{groupUrl}}" target="_blank">
							<img alt="Join FinalRevise WhatsApp group" src="/assets/images/whatsapp_join.png">
						</a>
					</td>
				</tr>
			</table>
			<table *ngIf="!groupUrl">
				<tr>
					<td>
						<h1 class="titleStyle"
							title="{{titleText}}">
							<b>{{pageTitle}}</b></h1>
					</td>
				</tr>
			</table>
			<div class="jumbotron">
				<div class="container-fluid" class="webkit-center">
					<div [innerHtml]="aboutExamContent"> </div>
					<hr class="my-4">
					<div *ngFor="let el of linkedPageItems" class="card">
						<a [routerLink]=""(click)="openNextPage(el.pageDocLink, el.pageItemName)">
							<div class="banner" *ngIf="el.coverUrl"><img src="{{el.coverUrl}}" alt="id {{el.pageId}}">
							</div>
							<div class="banner" *ngIf="!el.coverUrl"><img src="/assets/images/logo1.png"
									alt="id {{el.pageId }}"></div>
							<div class="descri">{{el.pageItemName}}</div>
						</a>
					</div>
				</div>
			</div>
			<div class="navbar bg-primary">
				<ul class="list-inline">
					<li class="list-inline-item">
						<b>
							<font size="3" color="white">Share {{pageTitle}} page with your friends :
							</font>
						</b>
					</li>
					<li class="list-inline-item">
						<a [routerLink]=""(click)="openFacebook()">
							<img border="0" id="fixed-width-flamingo" alt="Share page url on Facebook" src="/assets/images/facebook60.png" />
						</a>
					</li>
					<li class="list-inline-item">
						<a [routerLink]=""(click)="openWhatsApp()">
							<img border="0" id="fixed-width-flamingo" alt="Share page url on WhatsApp" src="/assets/images/whatsapp60.png" />
						</a>
					</li>
					<li class="list-inline-item">
						<a [routerLink]=""(click)="openMail()">
							<img border="0" id="fixed-width-flamingo" alt="Share page url on Gmail" src="/assets/images/gmail60.png" />
						</a>
					</li>
					<li class="list-inline-item">
						<a [routerLink]=""(click)="openMessenger()">
							<img border="0" id="fixed-width-flamingo" alt="Share page url on messenger" src="/assets/images/mess60.png" />
						</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="row" class="margin-top-0" *ngIf="tags">
			<table class="table1" *ngIf="groupUrl">
				<tr>
					<td class="width-75">
						<h1 class="titleStyle"
							title="{{titleText}}">
							<b>{{pageTitle}}</b></h1>
					</td>
					<td class="blink">
						<a href="{{groupUrl}}" target="_blank">
							<img alt="Join FinalRevise WhatsApp group" src="/assets/images/whatsapp_join.png">
						</a>
					</td>
				</tr>
			</table>
			<table *ngIf="!groupUrl">
				<tr>
					<td>
						<h1 class="titleStyle"
							title="{{titleText}}">
							<b>{{pageTitle}}</b></h1>
					</td>
				</tr>
			</table>
			<div class="col-sm-8">
				<div class="container-fluid jumbotron class="aboutExam">
					<div [innerHtml]="aboutExamContent"> </div>
					<hr class="my-4">
					<div *ngFor="let el of linkedPageItems" class="card">
						<a [routerLink]=""(click)="openNextPage(el.pageDocLink, el.pageItemName)">
							<div class="banner" *ngIf="el.coverUrl"><img src="{{el.coverUrl}}" alt="id {{el.pageId }}">
							</div>
							<div class="banner" *ngIf="!el.coverUrl"><img src="assets/finalrevise_book_cover.jpg"
									alt="id {{el.pageId }}"></div>
							<div class="descri">{{el.pageItemName}}</div>
						</a>
					</div>
				</div>
				<div class="navbar bg-primary">
					<ul class="list-inline">
						<li class="list-inline-item">
							<b>
								<font size="3" color="white">Share {{pageTitle}} page with your friends :
								</font>
							</b>
						</li>
						<li class="list-inline-item">
							<a [routerLink]=""(click)="openFacebook()">
								<img border="0" id="fixed-width-flamingo" alt="Share page url on Facebook" src="/assets/images/facebook60.png" />
							</a>
						</li>
						<li class="list-inline-item">
							<a [routerLink]=""(click)="openWhatsApp()">
								<img border="0" id="fixed-width-flamingo" alt="Share page url on WhatsApp" src="/assets/images/whatsapp60.png" />
							</a>
						</li>
						<li class="list-inline-item">
							<a [routerLink]=""(click)="openMail()">
								<img border="0" id="fixed-width-flamingo" alt="Share page url on Gmail" src="/assets/images/gmail60.png" />
							</a>
						</li>
						<li class="list-inline-item">
							<a [routerLink]=""(click)="openMessenger()">
								<img border="0" id="fixed-width-flamingo" alt="Share page url on messenger" src="/assets/images/mess60.png" />
							</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="col-sm-3">
				<div class="container-fluid jumbotron" class="relatedLinks">
					<h5 class="relatedLinks-text"><b>Related links</b></h5>
					<hr class="my-3">
					<div *ngFor="let el of tags">
						<a [routerLink]=""(click)="openTag(el)">
							<i>
								<h5>
									<li>{{el.pageTitle}}</li>
								</h5>
							</i>
						</a>
					</div>
				</div>
			</div>
		</div>
		<div class="sbuttons">
			<div *ngIf="isClickedShare">
				<a [routerLink]=""(click)="openWhatsApp()" class="sbutton whatsapp" tooltip="WhatsApp"><i
						class="fab fa-whatsapp"></i></a>

				<a [routerLink]=""(click)="openFacebook()" class="sbutton fb" tooltip="Facebook"><i
						class="fab fa-facebook-f"></i></a>

				<a [routerLink]=""(click)="openMail()" class="sbutton gplus" tooltip="Mail"><i
						class="fab fa-google-plus-g"></i></a>

				<a [routerLink]=""(click)="openMessenger()" class="sbutton twitt" tooltip="Fb messenger"><i
						class="fab fa-twitter"></i></a>
			</div>
			<a [routerLink]=""(click)="shareClicked()" class="sbutton mainsbutton"
				tooltip="Share this page with your friends"><i class="fas fa-share-alt"></i></a>
		</div>
	</div>
</div>