<div class="navbar bg-primary fixed-top">
	<ul class="list-inline">
		<li class="list-inline-item">
			<a routerLink="">
				<img class="image-style" alt="logo finalrevise finalrevise company" src="/assets/images/logo_r1.png" />
			</a>
		</li>
		<li class="list-inline-item">
			<a class="navbar-brand" routerLink="">FinalRevise</a>
		</li>
	</ul>
	<div *ngIf="isMobileResolution && !isHome && isRelatedTopicsPresent">
		<button class="matBtn" mat-button [matMenuTriggerFor]="beforeMenu">
				<img alt="finalrevise menu" height="40" width="35" src="/assets/images/menu.png" alt="Card image">
		</button>
		<mat-menu #beforeMenu="matMenu" xPosition="before">
			<button *ngFor="let el of relatedTopics;" mat-menu-item
			style="color: #2c3e50!important;" (click)="openTabPage(el.isChild, el.linkTitle, el.relatedLinksType)"><b>{{el.relatedLinksHeading}}</b></button>
		</mat-menu>
	</div>
	<div *ngIf="!isMobileResolution">
		<div *ngIf="isRelatedTopicsPresent">
			<ul class="list-inline margin-right">
				<li class="list-inline-item" *ngFor="let el of relatedTopics;">
					<a class="nav-link" style="color: white;" [routerLink]="
						(click)="openTabPage(el.isChild, el.linkTitle, el.relatedLinksType)"><b>{{el.relatedLinksHeading}}</b></a>
				</li>
			</ul>
		</div>
	</div>
	<div *ngIf="isHome">
		<ul class="list-inline margin-right">
			<li class="list-inline-item">
				<a href="https://www.linkedin.com/company/finalrevise/" target="_blank">
					<img alt="finalrevise linkedin account" border="0" id="fixed-width-flamingo" src="/assets/images/linkedin.png" />
				</a>
			</li>
			<li class="list-inline-item">
				<a href="https://www.youtube.com/channel/UCODEmMV_ka_Xb5hKoTGOEHQ" target="_blank">
					<img alt="finalrevise youtube channel" border="0" id="fixed-width-flamingo" src="/assets/images/youtube.png" />
				</a>
			</li>
			<li class="list-inline-item">
				<a href="https://www.facebook.com/finalrevise/" target="_blank">
					<img alt="finalrevise facebook page" border="0" id="fixed-width-flamingo" src="/assets/images/social_facebook.png" />
				</a>
			</li>
			<li class="list-inline-item">
				<a href="https://www.instagram.com/finalrevise/" target="_blank">
					<img alt="finalrevise instagram profile" border="0" id="fixed-width-flamingo" src="/assets/images/instagram.png" />
				</a>
			</li>
		</ul>
	</div>

</div>