@media (min-width: 576px){
    .jumbotron{padding:1.25rem .2rem}
    .tableHeader{
        margin-top: 75px;
        table-layout: fixed;
        width: 100%;
        border-collapse: unset;
    }

    .main-content {
        padding-top: 5%;
        padding-left: 2%;
        padding-right: 2%;
        padding-bottom: 5%;
          /* The image used */
      
    
      /* Set a specific height */
      min-height: 80vh;
    
      /* Create the parallax scrolling effect */
      background-attachment: fixed;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      }
}

.previous {
    background-color: #f1f1f1;
    color: black;
}

.next {
    background-color: #20c997;
    color: white;
}
@media (max-width: 576px) 
{
  .jumbotron{
    padding: 2%;
    margin:1%;
    background-color:#ecf0f1;
    border-radius:0.3rem
}
  .tableHeader{
    margin-top: 50px;
    table-layout: fixed;
    width: 100%;
    border-collapse: unset;
}
.loader {
    background: url('/assets/images/loading_small.gif') 50% 50% no-repeat rgb(249,249,249);
  } 

  .main-content {
    padding-top: 15%;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 10%;
      /* The image used */
  

  /* Set a specific height */
  min-height: 80vh;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  }
}


